<h2>Signup Page</h2>
    <form class="formEdit">
        <input type="text" name="username" ng-model = 'user.username' placeholder="Username">
                <br>
                <br>
            <input type="email" name="email" ng-model = 'user.email' placeholder="Email">
                <br>
                <br>
            <input type="password" name="password" ng-model = 'user.password' placeholder="Password">
                <br>
                <br>

        <button type="submit" ng-click='submitSignupInfo(user.username, user.email, user.password)'>Submit</button>
    </form>
